
    <div id="dropper" style="background-color:#eee;" class='drop-zone'> 
            <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
                    <tr>
                        <td align="center" valign="top">
                            <table border="0" cellpadding="20" cellspacing="0" width="600" id="emailContainer">
                                <tr>
                                    <td align="center" valign="top">
                                        <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailHeader">
                                            <tr>
                                                <td align="center" style="
                                                border: 1px solid rgba(0,0,0,.15);
                                                margin: 10px 0px 10px 0px;
                                                border-radius: 2px;
                                                display: block;
                                                background: #fff;
                                                " id="header-div" class='drop-div' valign="top">
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="top">
                                        <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailBody">
                                            <tr>
                                                <td align="center" style="
                                                border: 1px solid rgba(0,0,0,.15);
                                                margin: 10px 0px 10px 0px;
                                                border-radius: 2px;
                                                display: block;
                                                background: #fff;
                                                "  id="body-div" class='drop-div' valign="top">
                             
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="top">
                                        <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailFooter">
                                            <tr>
                                                <td align="center" style="
                                                border: 1px solid rgba(0,0,0,.15);
                                                margin: 10px 0px 10px 0px;
                                                border-radius: 2px;
                                                display: block;
                                                background: #fff;
                                                "  id="footer-div" class='drop-div' valign="top">
                                   
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
        <!-- <div id="header-div" class='drop-div'> </div> 
        <div id="body-div" class='drop-div'> </div> 
        <div id="footer-div" class='drop-div'> </div> -->
        
    </div>

